table.table-autocomplete {
    width: 100%;
}
table.table-autocomplete thead tr {
    border-bottom: solid 1px #B6B6B6;
}
table.table-autocomplete thead tr th {
    padding: 5px;
}
table.table-autocomplete .ui-menu-item td {
    border-left: solid 1px #B6B6B6;
    padding: 5px;
}