
    <td><div class='input-group date' id='datetimepicker1'>
            {{ form_widget(form.debut) }}
            <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
        </div>
    <td><div class='input-group date' id='datetimepicker1'>
            {{ form_widget(form.fin) }}
            <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
        </div></td>
    <td>{{ form_widget(form.description) }}</td>
