{% extends "TahwissaBundle:Membre:base.html.twig" %}

{% block title %}
    Compte
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Votre identifiant est
        {{ identifiant }}
        </h1>
        </div>
{% endblock %}
