{% extends "TahwissaBundle:Membre:base.html.twig" %}

{% block title %}
    Compte
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Succer de recharge vous avez
                {{ solde }} dinars
        </h1>
    </div>
{% endblock %}
