{% extends 'TahwissaBundle:Membre:base.html.twig' %}
{% block title %}
    <h1>envoyer une demande de signalisation</h1>
{% endblock %}
{% block content %}
{{ form_start(form) }}

{{ form_widget(form) }}

{{ form_end(form) }}
{% endblock %}